<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет News -->
{% block title %}
 Ad № {{ ad.id }}
{% endblock title %}
{% block content %}
<h2> Заголовок: {{ ad.title }}</h2>
<h4> Категория: {{ ad.adsCategory }}</h4>
<h6>{{ ad.dateCreation|date:'d M Y' }}</h6>
{{ ad.content|safe }}
<br/><br/>
<hr>
<a href="responsecreate/">Откликнуться</a><br/><br/>
<br/><br/>

<a href="update">Редактировать</a><br/>
<a href="delete">Удалить</a><br/><br/>

<a href="..">Назад</a>
{% endblock content %}